
body {
color: blue;
font-family: "Times New Roman";
}
h1 {
  text-align: center;
}
h2 {
  background-color: rgb(255, 255, 115);
}
h3 {
  background-color: rgb(180, 255, 195);
}
p1 {
font-family: "Arial";
text-align: justify;
}
th {
background-color: aqua;
}


</body>